In [1]:
import pandas as pd

In [2]:
df_translation1 = pd.read_csv("./aug_data/translation_aug_equal_lmarena-ai-arena-human-preference-55k-group0-threshold200-add150.csv")
df_translation2 = pd.read_csv("./aug_data/translation_aug_equal_lmarena-ai-arena-human-preference-55k-group1-threshold200-add150.csv")
df_translation = pd.concat([df_translation1, df_translation2])
print(df_translation.shape)
df_translation.head()

(16800, 8)

,id,prompt,response_a,response_b,winner,model_a,model_b,language
0,887722,"Napiš větu, která je gramaticky správná, aniž ...",Rys skáče rychle.,Rychlý onyxový goblin skáče přes líného trpasl...,model_a,gpt-4-1106-preview,wizardlm-70b,Czech
1,3258431,"Následuje příkaz, který uživatel chystá spusti...",Ano,NE,model_a,stablelm-tuned-alpha-7b,vicuna-13b,Czech
2,441448,Velcí pronajímatelé používali software k dohod...,Velcí pozemkoví vlastníci používali software k...,Velcí vlastníci nemovitostí používali software...,model_b,gpt-3.5-turbo-0613,vicuna-13b,Czech
3,5717448,"Spodní prádlo, \njemné doteky kůže, \ntajems...","Spodní prádlo těsně přiléhající, \nMěkká tkan...",Zakrytí tam dole \nSkrývá části neviditelné p...,model_a,gpt-3.5-turbo-1106,claude-2.1,Czech
4,3475655,Který z následujících kovů má nejnižší bod tán...,Metal s nejnižší teplotou tání z uvedených mož...,Z uvedených možností má kadmium (Cd) nejnižší ...,model_b,vicuna-33b,gpt-3.5-turbo-1106,Czech

In [3]:
df_all = pd.read_parquet("../external_data/lmarena-ai-arena-human-preference-55k.parquet")
print(df_all.shape)
df_all.head()

(34297, 8)

,id,prompt,response_a,response_b,winner,model_a,model_b,language
0,96401,How can I create a test set for a very rare ca...,Creating a test set for a very rare category c...,When building a classifier for a very rare cat...,model_a,llama-2-13b-chat,mistral-7b-instruct,English
1,198779,What is the best way to travel from Tel-Aviv t...,The best way to travel from Tel Aviv to Jerusa...,The best way to travel from Tel-Aviv to Jerusa...,model_b,koala-13b,gpt-3.5-turbo-0314,English
2,292873,"Construct a rap battle, in the style of Epic R...","[Zeus]\nYo, it's the king of the gods on the m...","(Verse 1 - Zeus)\n\nI'm the king of the gods, ...",model_b,vicuna-13b,gpt-4-0314,English
3,313413,Why water is not used in bath tub?,Water is actually used in a bath tub. A bath t...,Water is not used in a bath tub because it is ...,model_a,mixtral-8x7b-instruct-v0.1,vicuna-13b,English
4,370945,"""Bacteria is life on Mars but a heartbeat isn'...",Dune,This quote seems to be referencing the debate ...,model_b,gemini-pro,claude-2.0,English

In [4]:
df_remain_non_translation = df_all[~df_all["id"].isin(df_translation["id"])]
print(df_remain_non_translation.shape)
df_remain_non_translation.reset_index(drop=True, inplace=True)
df_remain_non_translation.head()

(17497, 8)

,id,prompt,response_a,response_b,winner,model_a,model_b,language
0,96401,How can I create a test set for a very rare ca...,Creating a test set for a very rare category c...,When building a classifier for a very rare cat...,model_a,llama-2-13b-chat,mistral-7b-instruct,English
1,292873,"Construct a rap battle, in the style of Epic R...","[Zeus]\nYo, it's the king of the gods on the m...","(Verse 1 - Zeus)\n\nI'm the king of the gods, ...",model_b,vicuna-13b,gpt-4-0314,English
2,863398,what do you know about real estate,Real estate refers to the land and buildings o...,1. **Types of Real Estate:**\n * **Resident...,model_b,llama2-70b-steerlm-chat,gemini-pro-dev-api,English
3,2912862,"texts = [text.split() for text in df[""text_pro...",The code snippet you provided is used to creat...,The code you've provided is writing a vocab fi...,model_b,gpt-4-1106-preview,gpt-4-0613,English
4,3373963,Explain why we can't achieve nuclear fusion fo...,"Nuclear fusion, the process of combining atomi...",Nuclear fusion is a process that combines atom...,model_a,llama-2-7b-chat,mistral-7b-instruct,English

In [5]:
df_remain_non_translation.to_json("./remain_non_translation_17k.json", orient="columns")